{% extends 'base.html.twig' %}

{% block title %}Hello MealController!{% endblock %}

{% block body %}
<ul class="list-group list-unstyled">

    {% for meal in meals %}
        <li class="list-group-item">
            <a href="{{ path("meal_single", {id: meal.id}) }}">
                {{ meal.name }}
            </a>
        </li>
    {% endfor %}

</ul>

{% endblock %}
